<!-- how it works section  -->
      <section id="how-it-works">
	<div class="container holder">
	  <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
              <h2>We Power On-Demand Storage</h2>
              <p>We pioneered the On-Demand Storage industry with our per-box, per month service in New York City and San Francisco. We've evolved into a software platform that powers On-Demand Storage services delivered by our partners.</p>
	    </div>

	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
	      <div class="img-holder">
		<img src="assets/static/images/Boxbee-01.svg" alt="Stuff management" onerror="this.onerror=null; this.src='assets/static/images/Boxbee-01.png'">
	      </div>
            </div>
	  </div>
	  <div class="row">
	    <div class="col-sm-6 col-xs-12 col-sm-push-6 box">
              <!--<h2>A Team Of Pros</h2>-->
              <p>If you provide On-Demand Storage services to your customers (or want to) and are interested in getting an early peek at our logistics software platform, join our Boxbee Beta program.</p>
              <p>
                <a href='http://beta.boxbee.com' target='_blank'>Apply to the Boxbee Beta program &gt;</a>
              </p>
	    </div>

            <div class="col-sm-6 col-xs-12 col-sm-pull-6 box">
	      <div class="img-holder">
                <img src="assets/static/images/Boxbee-02.svg" alt="A team of doers and visionaries" onerror="this.onerror=null; this.src='assets/static/images/Boxbee-02.png'">
	      </div>
            </div>
	  </div>
	  <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
              <!--<h2>Always Growing</h2>-->
              <p>We're always on the lookout for daring, smart, nice people who can teach us something while helping us to be our best.  Join our growing team.</p>
              <p>
                <a href='https://boxbee.workable.com/' target='_blank'>View open jobs &gt;</a>
              </p>
	    </div>

	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
	      <div class="img-holder">
                <img src="assets/static/images/Boxbee-03.svg" alt="We're never done growing" onerror="this.onerror=null; this.src='assets/static/images/Boxbee-03.png'">
	      </div>
            </div>
	  </div>
	</div>
      </section>

      <section id='investors'>

        <div class='container holder'>
        	<br>
          <div class='row'>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 box">
              <img src="assets/static/images/googleventures.png" alt="Google Ventures" class='google'>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 box">
              <img src="assets/static/images/metamorphic.png" alt="Metamorphic Ventures">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 box">
              <img src="assets/static/images/floodgate.svg" height="16px" alt="Floodgate" class="floodgate">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 box lucas">
              <img src="assets/static/images/lucasventures.png" alt="Lucas Ventures" class="lucas">
            </div>
          </div>
        </div>
      </section>
      <div id='existing-users' class='modal fade'>
        <div class='modal-content existing-users-content'>
          <h4>Hi.</h4>
          <p>Boxbee is no longer accepting new customers for our On-Demand Storage service.  Current customers are welcome to store their current boxes with us for as long as they'd like but we won't be taking new boxes into storage at this time.</P>

          <P>Please <A HREF="http://www.boxbee.com/simplestorage">login to your Boxbee account</A> or contact our Customer Service team to schedule an appointment for pickup or delivery.</p>

          <h4>Students:</h4>
          <p>We currently have special procedures in place for our student customers returning to school.  All students must <a HREF="http://goo.gl/forms/tCfG020SJq">fill out this form</A> and follow the important instructions to schedule a delivery. Please contact our Customer Service team if you have any questions.</p>



          <button type="button" class="close-existing-users" data-dismiss="modal"></button>
        </div>
      </div>
