<h4>Hi.</h4>
<p>Boxbee is no longer accepting new customers for our On-Demand Storage service.  Current customers are welcome to store their current boxes with us for as long as they'd like but we won't be taking new boxes into storage at this time.</P>

<P>Please <A HREF="http://www.boxbee.com/simplestorage">login to your Boxbee account</A> or contact our Customer Service team to schedule an appointment for pickup or delivery.</p>

<h4>Students:</h4>
<p>We currently have special procedures in place for our student customers returning to school.  All students must <a HREF="http://goo.gl/forms/tCfG020SJq">fill out this form</A> and follow the important instructions to schedule a delivery. Please contact our Customer Service team if you have any questions.</p>
