<div class="container holder legacy">
  <h4>Hi there!</h4>
  <p>Boxbee is no longer accepting new customers for our On-Demand Storage service.  Current customers are welcome to store their current boxes with us for as long as they'd like but we won't be taking new boxes into storage at this time.</P>
  <P>Please <a href="http://www.boxbee.com/simplestorage">login to your Boxbee account</a> or contact our Customer Service team to schedule an appointment for pickup or delivery.</p>
</div>
