<!-- how it works section  -->
<section id="how-it-works">
  <div class='container holder'>
    <div class='col-sm-12'>
      <h1>Privacy Policy</h1>
        <p>Boxbee, Inc. (“Boxbee”) knows that you care about how your personal information is used and shared, and we take your privacy seriously.  Please read the following to learn more about our Privacy Statement.  By using the www.Boxbee.com website and any related services and/or features (collectively, the “Service”) you acknowledge that you accept the practices and policies outlined in this Privacy Statement.</p>
        <h2>1. What Does This Privacy Statement Cover?</h2>

        <p>This Privacy Statement covers Boxbee’s treatment of personally identifiable information ("Personal Information") that Boxbee gathers when you access/use the Services.</p>

        <h2>2. What Personal Information Does Boxbee Collect?</h2>

        <p>Boxbee collects information you voluntarily submit to the Services, such as, the information we collect when you register for an account: your name, address, email address, phone number, payment related information (credit card number, physical address, etc.), etc.</p>

        <p>In addition, we may automatically receive and store certain, anonymous types of information whenever you interact with the Services. Such information may include the user's IP address, domain server, and type of Internet browser. This information helps us, among other things, analyze trends and administer the Services. This information is anonymous and contains no personally identifiable data.<p>

        <h2>3. How does Boxbee use the information it collects?</h2>

        <p>Provide the Service:  Your information will be used primarily to provide you with the Service (please review the Service Providers and Agents section below).</p>
        <p>Improve the Service:  Your information may be used by us internally to improve the Service and develop new products, services and features.</p>
        <p>Other Uses:  Your information may also be used by us as set forth in the next section.</p>

        <h2>4. Will Boxbee Share Any of the Personal Information it Receives?</h2>
        <p>To the limited extent we collect Personal Information – we neither rent nor sell your Personal Information to anyone.  We share your Personal Information only as described below.</p>
        <p>Service Providers and Agents: We employ other companies and people to perform tasks on our behalf.  For example, as noted above, your information may be shared with courier/delivery services to enable them to pick up your boxes for storage.  Also, we may decide to use a third party payment processing company to process payments you make through the Service.  In addition, parts of the Service may be hosted by a third party on our behalf.  Your information may be accessed by such providers/agents, in the event that we need to share your information with them to provide our services or customer support to you.    Unless we tell you differently, Boxbee’s agents do not have any right to use Personal Information we share with them beyond what is necessary to assist us.</p>
        <p>Business Transfers: In some cases, we may choose to buy or sell assets.  In these types of transactions, customer information is typically one of the business assets that are transferred.  Moreover, if Boxbee, or substantially all of its assets were acquired, or in the unlikely event that Boxbee goes out of business or enters bankruptcy, customer information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of Boxbee may continue to use your Personal Information as set forth in this policy.</p>
        <p>Protection of Boxbee and Others: We may release Personal Information when we believe in good faith that release is necessary to comply with the law; enforce or apply our conditions of use and other agreements; or protect the rights, property, or safety of Boxbee, our employees, our users, or others.</p>
        <p>With Your Consent: Except as set forth above, you will be notified when your Personal Information may be shared with third parties, and will be able to prevent the sharing of this information.</p>
        <p>CONDITIONS OF USE</p>
        <p>If you decide to access or use the Service, such access and use and any possible dispute over privacy is subject to this Privacy Statement and our Terms of Use (located on our website), including limitations on damages, disclaimer of warranties, and the application of California state law.</p>
        <p>THIRD PARTY WEBSITES/SERVICES</p>
        <p>The Site may permit you to link to other websites on the Internet, and other websites may contain links to the Site.  These other websites are not under Boxbee control, and such links do not constitute an endorsement by Boxbee of those other websites or the services offered through them.  The privacy and security practices of websites linked to or from the Service are not covered by this Privacy Statement, and Boxbee is not responsible for the privacy or security practices or the content of such websites.</p>
        <p>Changes to this Privacy Statement</p>
        <p>Boxbee may amend this Privacy Statement from time to time.  Use of information we collect now is subject to the Privacy Statement in effect at the time such information is used.  If we make changes in the way we use Personal Information, we will notify you by posting an announcement on our website, or via the Service, or sending you an email.  Users are bound by any changes to the Privacy Statement when he or she uses the Service after such changes have been first posted.</p>
        <p>QUESTIONS OR CONCERNS</p>
        <p>If you have any questions or concerns regarding privacy, please send us a detailed message at hello@boxbee.com.  We will make every effort to resolve your concerns.</p>
        <p>Effective Date: July 1, 2015</p>
    </div>
  </div>
</section>
