<section id="how-it-works">
  <div class='container holder' style="padding-top:100px;" id="terms">
    <div class='col-sm-12'>
      <h1 style="color:black;">Website Terms of Service</h1>
        <p class='p5'>
        Thank you for using the Boxbee online service. The following Terms of Service control all use of the website located at http://www.boxbee.com, http://www.boxbeestorage.com, http://www.boxbeeinc.com, and all content, services, and products available at or through these websites.</p>
        <p class='p6'>
        Effective as of July 1, 2015.
        </p>
        <p class='p5'>
        Please read this Agreement carefully before accessing or using the Website. Because it is such an important contract between us and you, our users, we have tried to make it as clear and user-friendly as possible. For your convenience, we have presented these terms in a non-binding summary format as well as the full legalese. You can click on any of the topics to read the full legally binding text of each section. Please read each section thoroughly.</p>
        <p class='p5'>By accessing or using any part of the website, you agree to the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. The website is available only to individuals in the United States who are at least 18 years old.</p>
        <h2>Definitions.</h2>
        <p class='p8'>The following terms are used throughout the agreement, and have specific meanings. You should know what each of the terms means.</p>

        <p class='p10'>
        • The “Online Service” refers to the applications, software, products, and services provided by Boxbee.
        </p>
        <p class='p10'>
        • The “Storage Service” refers to the pickup, transport, storage, and delivery services provided by Boxbee.</p>
        <p class='p10'>
        • The “Agreement” refers, collectively, to all the terms, conditions, and notices contained or referenced in it (the “Terms of Service”) and all other operating rules, policies (including, without limitation, the Boxbee Privacy Policy, incorporated by reference in this Agreement and the Storage Service Agreement, also incorporated by reference, and procedures that may be published from time to time on the Website by Boxbee.
        </p>
        <p class='p10'>
        • The “Website” refers to Boxbee’s website located at http://www.boxbee.com/, and all content, services, and products available at or through the Website.
        </p>
        <p class='p10'>
        • “The User,” “You,” and “Your” refer to the individual person that has visited or is using the Website and/or Service and is entering into this Agreement with us. A User may also be a “Subscriber:” a User who subscribes to and participates in Boxbee’s Storage Services.
        </p>
        <p class='p10'>
        • “Boxbee,” “We,” and “Us” refer to Boxbee, Inc., as well as its affiliates, directors, subsidiaries, contractors, licensors, officers, agents, and employees.
        </p>
        <p class='p10'>
        • “Content” refers to content featured or displayed through the Website, including without limitation text, documents, information, data, articles, images, photographs, graphics, software, applications, video recordings, audio recordings, sounds, designs, features, and other materials that are available on the Website. "Content" also includes Marks and Services. “Content” also includes user-generated content, such as user profile images.
        </p>
        <p class='p10'>
        • “Mark” refers to a trademark, trade name, service mark, trade dress, logo, custom graphics, or icon.
        </p>
        <h2>User Responsibilities.</h2>
        <p class='p8'>
        You need to create an account to use our service. You, and you alone, are responsible for your account and anything that happens while you are signed in to or using your account. Your account security is your responsibility. </p>
        <p class='p11'><b>
        a. User Account: If you sign up for the Online Service, you will create a personalized account which includes a unique username and a password to access the Online Service.
        </p>
        <p class='p11'>
        b. User Account Security: You are responsible for maintaining the security of your user account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account. You agree to notify us immediately of any unauthorized use of your password and/or account, or any other breaches of security. We will not be responsible for any liabilities, losses, or damages arising out of the unauthorized use of your computer, mobile device, or other computing device and/or account.
        </p>
        <p class='p11'>
        c. Storage Service Subscription: In order to use the Storage Services, you must register via your User Account and become a Subscriber. You may control your Subscription, and access your property in storage, through your User Account.
        </p>
        <p class='p11'>
        d. Compliance With Laws: You represent and warrant that: (i) you have the authority to, and are of legal age to, bind yourself to this Agreement; (ii) your use of the Online Service will be solely for purposes that are permitted by this Agreement; (iii) your use of the Online Service will not infringe or misappropriate the intellectual property rights of any third party; and (iv) your use of the Online Service will comply with all local, state and federal laws, rules, and regulations, and with all other Boxbee policies.
        </p>
        <p class='p11'>
        e. Additional Terms May Apply: This Agreement, along with the Boxbee Privacy Policy, the Storage Service Agreement, and Boxbee’s other terms, conditions, and policies, is the entire understanding between you and Boxbee. However, you may use third party services to sign in to Boxbee. Those services may have terms and policies that apply to their use. Please be aware of, and follow, third party terms and policies.</p>

        <h2>Use and Conduct Restrictions.</h2>

        <p class='p8'>You are allowed to use the service as long as you follow a few basic rules. The following Use Restrictions and Conduct Restrictions are the basic rules we expect users to follow while using Boxbee. We are not responsible for the content our users post.</p>

        <p class='p13'>
          a. Conduct on Boxbee: You agree that you will not, under any circumstances, transmit any content (including text, software, images, or other information) that:</p>
        <p class='p14'>
        • is unlawful or promotes unlawful activities;
        </p>
        <p class='p14'>
        • defames, harasses, abuses, threatens, or incites violence towards any individual or group;
        </p>
        <p class='p15'>
        • is pornographic, discriminatory, or otherwise victimizes or intimidates an individual or group on the basis of religion, gender, sexual orientation, race, ethnicity, age, or disability;
        </p>
        <p class='p15'>
        • is spam, is machine- or randomly-generated, constitutes unauthorized or unsolicited advertising, chain letters, any other form of unauthorized solicitation, or any form of lottery or gambling;
        </p>
        <p class='p15'>
        • contains or installs any viruses, worms, malware, Trojan horses, or other content that is designed or intended to disrupt, damage, or limit the functioning of any software, hardware, or telecommunications equipment or to damage or obtain unauthorized access to any data or other information of any third party;
        </p>
        <p class='p15'>
        • infringes on any proprietary right of any party, including patent, trademark, trade secret, copyright, right of publicity, or other rights;
        </p>
        <p class='p15'>
        • impersonates any person or entity, including any of our employees or representatives; or
        </p>
        <p class='p15'>
        • violates the privacy of any third party.
        </p>
        <p class='p13'>
        b. Unauthorized Access: You agree that you will not, under any circumstances:
        </p>
        <p class='p14'>
        • use any data mining, scraping, robots, or similar data gathering methods to access or obtain information through any means not purposely made available through the Service.
        </p>
        <p class='p14'>
        • attempt to gain unauthorized access to any data or feature of the Service, or any other systems or networks connected to the Service or to any Boxbee server.
        </p>
        <p class='p14'>
        • probe, scan or test the vulnerability of the Service or any network connected to the Service.
        </p>
        <p class='p16'>
        c. Users Must Be Age 18 or Above: You represent that you are at least age 18. Boxbee does not target our Content to children under 18, and we do not permit any Users under 18 on our Online Service. If we learn of any User under the age of 18, we will terminate that User’s account immediately, following the procedures set forth in Section 7 below.</p>
        <p class='p16'>
        d. No Liability For User Interactions; Boxbee May Monitor Interactions: Any liability, loss or damage that occurs as a result of any User interactions that you input or receive through your use of the Online Service is solely your responsibility. At our discretion, we, or technology we employ, may monitor and/or record your interactions with the Online Service.
        </p>

        <h2>User-Generated Content.</h2>

        <p class='p8'>You own your content, but you allow us certain rights to it, so that we can display and share the content you post. We have the right to remove content or close accounts if we need to.</p>

        <p class='p17'>
          a. Responsibility for User-Generated Content: You may create content, such as photographs, text, or other content, while using the Service (“User-Generated Content”). You are solely responsible for the content of, and any harm resulting from, any User-Generated Content that you post, upload, link to or otherwise make available via the Service, regardless of the form of that content. Any liability, loss or damage that occurs as a result of the use of any User-Generated Content that you make available or access through your use of the Service is solely your responsibility. We are not responsible for any public display or misuse of your User-Generated Content.
        </p>
        <p class='p17'>
        b. Right to Post: You represent and warrant that you have the right to post all User-Generated Content you submit. Specifically, you warrant that you have fully complied with any third party licenses relating to User-Generated Content, and have taken all steps necessary to pass through to end users any required terms.
        </p>
        <p class='p17'>
        c. Boxbee May Remove Content: We have the right (though not the obligation) to, in our sole discretion, determine whether or not any User-Generated Content is appropriate and complies with these Terms of Service; refuse or remove any User-Generated Content that, in our reasonable opinion, violates any Boxbee policy or is in any way harmful, inappropriate, or objectionable; or terminate or deny access to and use of the Service to any User for any reason, with or without prior notice.
        </p>
        <p class='p17'>
        d. Ownership of User-Generated Content: Except for Content that originates from Boxbee, we do not claim ownership of any Content that is transmitted, stored, or processed in your account. You retain all ownership of, control of, and responsibility for User-Generated Content you post. You may control access to your User-Generated Content through settings in your user account.
        </p>
        <p class='p17'>
        e. License Grant: Solely to allow Boxbee to use Content you upload to the Service reasonably without violating any rights you have in it, you grant us the following rights: by posting any Content via the Website, you expressly grant Boxbee and our successors a non-exclusive, worldwide, transferable, sublicenseable, fully-paid and royalty-free license to use, reproduce, display, modify, adapt, distribute, and perform the Content in connection with Boxbee’s business purpose. This license does not grant Boxbee the right to sell User-Generated Content or otherwise distribute it outside of our Service. This license will terminate at the time when the Content is removed from the Service.
        </p>

        <h2>Copyright Infringement and DMCA Policy.</h2>

        <p class='p8'>If you believe that content on our website violates your copyright, please contact us in accordance with our Digital Millennium Copyright Act Policy.</p>

        <p class='p18'>
        a. Termination of Repeat Infringer Accounts: Boxbee respects the intellectual property rights of others and requests that the Users do the same. Pursuant to 17 U.S.C. 512(i) of the United States Copyright Act, we will terminate a User’s access to and use of the Website if, under appropriate circumstances, the User is determined to be a repeat infringer of Boxbee’s intellectual property rights or the intellectual property rights of others. We may terminate access for participants or Users who are found repeatedly to provide or post protected third party content without necessary rights and permissions.
        </p>

        <h2>Intellectual Property Notice.</h2>

        <p class='p8'>We own the service and all of our content in it. In order for you to use it, we give you certain rights to our content, but you may only use our content in the way we have allowed.</p>

        <p class='p11'>
        a. Boxbee and our licensors, vendors, agents, and/or our content providers retain ownership of all intellectual property rights of any kind related to the Website and Service, including applicable copyrights, patents, trademarks and other proprietary rights. Other trademarks, service marks, graphics and logos used in connection with the Website and the Service may be the trademarks of other third parties. This Agreement does not transfer from us to you any Boxbee or third party intellectual property, and all right, title, and interest in and to such property will remain (as between the parties) solely with us. We reserve all rights that are not expressly granted to you under this Agreement.
        </p>
        <p class='p11'>
        b. Specifically, Boxbee, Boxbee.com, and all other Marks that appear, are displayed, or are used on the Website or as part of the Service are registered or common law trademarks or service marks of Boxbee, Inc. These Marks may not be copied, downloaded, reproduced, used, modified, or distributed in any way without prior written permission from Boxbee, Inc., except as an integral part of any authorized copy of the Content.
        </p>
        <p class='p11'>
        c. Boxbee grants you a limited, nonexclusive, non-transferable, non-sublicenseable right solely to display and view the Content for personal, non-commercial use. You must retain all copyright and other proprietary notices on any copy of the Content you make for personal use.
        </p>

        <h2>Email Communications.</h2>

        <p class='p8'>We use email and electronic means to stay in touch with our users.</p>

        <p class='p16'>
        a. Electronic Communication Required: For contractual purposes, you (i) consent to receive communications from Boxbee in an electronic form via the email address you have submitted or via the Service; and (ii) agree that all Terms of Service, agreements, notices, disclosures, and other communications that Boxbee provides to you electronically satisfy any legal requirement that such communications would satisfy if it were in writing. This section does not affect your non-waivable rights.
        </p>
        <p class='p16'>
          b. Legal Notice To Boxbee Must Be In Writing.
        </b>Communications made through email or the Service’s private messaging system will not constitute legal notice to Boxbee or any of its officers, employees, agents or representatives in any situation where notice to Boxbee is required by contract or any law or regulation.
        </p>

        <h2>Termination.</h2>

        <p class='p8'>You may cancel this agreement and close your account at any time.</p>
        <p class='p9'>

        <p class='p19'>
        a. If you wish to terminate this Agreement or your account with the Online Service, you may simply discontinue using Boxbee. If you wish to delete your User Personal Information (as defined in the Boxbee Privacy Policy), please contact Boxbee support via the Website. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements, but barring legal requirements, we will delete your full profile within 30 days.
        </p>
        <p class='p19'>
        b. If you are a Subscriber and you wish to terminate this Agreement or your account with the Storage Service, you may use the Boxbee Website. From your User Account page, you may close your account, request the return of any remaining property, and settle any fees. You may also terminate your account by contacting Boxbee support.
        </p>
        <p class='p19'>
        c. If you choose to terminate the Agreement, you will be responsible for paying all fees for the calendar month in which termination occurs.
        </p>
        <p class='p19'>
        d. We may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective upon written notice to you.
        </p>
        <p class='p20'>
        • If we terminate the Agreement, we will arrange for any of your boxes or other property that we still hold to be delivered to you. This delivery will be at our expense, unless termination is due to your breach of this Agreement, in which case you are responsible for costs.
        </p>
        <p class='p20'>
        • If we determine that your activity poses a threat to Boxbee, we may terminate your account without written notice to you.
        </p>
        <p class='p19'>
        e. All provisions of this Agreement which by their nature should survive termination will survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.
        </p>

        <h2>Payment.</h2>

        <p class='p8'>
        Use of the Boxbee Online Service is free. However, the Boxbee Storage Service is a monthly subscription service. Please see the Storage Service Agreement for payment and billing terms.
        </p>

        <h2>Disclaimer of Warranties.</h2>

        <p class='p8'>We provide the Offline and Online services as is, and we make no promises or guarantees about this service. Please read this section carefully; you should understand what to expect.</p>

        <p class='p22'>
        a. Boxbee provides the Website, the Storage Service, and the Online Service “as is,” without warranty of any kind. Without limiting the foregoing, Boxbee expressly disclaims all warranties, whether express, implied or statutory, regarding the Website, the Storage Service, and the Online Service including without limitation any warranty of merchantability, fitness for a particular purpose, title, security, accuracy and non-infringement.
        </p>
        <p class='p22'>
        b. Without limiting the foregoing, neither Boxbee nor its suppliers and licensors make any warranty or representation that the information they provide or that is provided through the Online Service is accurate, reliable or correct; that the Online Service will meet your requirements; that the Online Service will be available at any particular time or location; that the Online Service will function in an uninterrupted manner or be secure; that any defects or errors will be corrected; or that the Online Service is free of viruses or other harmful components. You assume full responsibility and risk of loss resulting from your downloading and/or use of files, information, content or other material obtained from the Online Service. Some jurisdictions limit or do not permit disclaimers of warranty, so this provision may not apply to you.
        </p>
        <p class='p22'>
        c. Please see the Boxbee Storage Service Agreement for the Storage Service Agreement’s disclaimer of warranties.
        </p>

        <h2>Limitation of Liability.</h2>

        <p class='p8'>We will not be liable for damages or losses arising from your use of the service or arising under this agreement. Please read this section carefully; it limits our obligations to you.</p>

        <p class='p19'>
        a. To the extent permitted by applicable law, in no event will Boxbee be liable to you for any loss of profits, use, or data, or for any incidental, indirect, special, consequential or exemplary damages, however arising, that result from (i) your use or inability to use the Online Service; (ii) the Online Service generally or the software or systems that make the Online Service available; or (iii) any other interactions with Boxbee or any other user of the Online Service, whether based on warranty, contract, tort (including negligence) or any other legal theory, and whether or not we have been informed of the possibility of such damage, and even if a remedy set forth in this agreement is found to have failed of its essential purpose. We will have no liability for any failure or delay due to matters beyond our reasonable control. Some jurisdictions limit or do not permit disclaimers of liability, so this provision may not apply to you.
        </p>
        <p class='p19'>
        b. Please see the Boxbee Storage Service Agreement for the Storage Service Agreement’s limitation of liabilities.
        </p>

        <h2>Release and Indemnification.</h2>

        <p class='p8'>You are responsible for your use of the service. If you harm someone else, misuse our storage, or get into a dispute with someone else, we will not be involved.</p>

        <p class='p23'>
        a. You agree to indemnify and hold harmless Boxbee from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, the Storage Service, and the Online Service, including but not limited to your violation of this Agreement or misuse of the Storage Service.
        </p>
        <p class='p23'>
        b. If you have a dispute with one or more Users, you release Boxbee from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, arising out of or in any way connected with such disputes. If you are a California resident, you explicitly and knowingly waive California Civil Code §1542, which says: “A general release does not extend to claims which the creditor does not know or suspect to exist in his favor at the time of executing the release, which if known by him must have materially affected his settlement with the debtor.”
        </p>

        <h2>Modification of Terms of Service.</h2>

        <p class='p8'>Boxbee may modify this agreement, but we will notify users of changes that affect your rights.</p>

        <p class='p16'>
        a. Boxbee reserves the right, at our sole discretion, to amend these Terms of Service at any time and will update these Terms of Service in the event of any such amendments. Boxbee will notify our Users of material changes to this Agreement in the subscription period prior to the change taking effect by posting a notice on our home page and sending an email to the email address you provided to us. For non-material modifications, your continued use of the Website constitutes agreement to Boxbee’s revisions to these Terms of Service.
        </p>

        <h2>Arbitration Agreement.</h2>

        <p class='p8'>In the unlikely event that a dispute arises between you and us, you agree to resolve most claims through individual arbitration. The following section explains our arbitration policy. Please read it very carefully, as it affects your rights.</p>

        <p class='p24'>
        a. Arbitration: Should a dispute arise between you and Boxbee, we would like to provide you with a neutral and cost-effective means of resolving the dispute quickly. Therefore, for any claim (except for claims for injunctive or equitable relief or claims regarding intellectual property rights) under this Agreement where the total amount of the award sought is less than $75,000, either party may elect to resolve any dispute arising under this Agreement through binding non-appearance-based arbitration.
        </p>
        <p class='p24'>
        b. Procedure: Any disputes arising with respect to this Agreement shall be settled by arbitration in accordance with the rules and procedures of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”). The arbitrator shall be selected by joint agreement of the parties. In the event the parties cannot agree on an arbitrator within thirty (30) days of the initiating party providing the other party with written notice that it plans to seek arbitration, the parties shall each select an arbitrator affiliated with JAMS, which arbitrators shall jointly select a third such arbitrator to resolve the dispute. The written decision of the arbitrator shall be final and binding on the parties and enforceable in any court. The arbitration proceeding shall take place in San Francisco, California, using the English language. Both parties agree that this Agreement is the complete and exclusive statement of the mutual understanding of the parties and supersedes and cancels all previous written and oral agreements, communications and other understandings relating to the subject matter of this Agreement and, except as otherwise provided herein, that all modifications must be in a writing signed by both parties.
        </p>
        <p class='p17'>
        <b>
        c. No Right to Jury Trial: You acknowledge that you are waiving your right to a jury trial. Section 12 of this agreement is governed by the Federal Arbitration Act.
        </p>

        <h2>Miscellaneous.</h2>

        <p class='p8'>
        This agreement is controlled by California law. You, and you alone, are responsible for any obligations you agree to under this contract. If we are involved in a merger or we are bought, we may transfer this agreement, as long as your rights are protected. You may only agree to these terms if you are able to form a binding contract in your state. These terms, including our Privacy Policy, are the complete agreement between us, and no other terms apply.
        </p>

        <p class='p17'>
        a. Governing Law: Except to the extent applicable law provides otherwise, this Agreement between you and Boxbee and any access to or use of the Website or the Online Service are governed by the federal laws of the United States of America and the laws of the State of California, without regard to conflict of law provisions. You and Boxbee agree to submit to the exclusive jurisdiction and venue of the courts located in the City and County of San Francisco, California, except as provided elsewhere in this Agreement.
        </p>
        <p class='p17'>
          b. Limitation of Term of Action: You agree that any cause of action related to or arising out of your relationship with Boxbee must commence within ONE year after the cause of action accrues. Otherwise, such cause of action is permanently barred.
        </p>
        <p class='p17'>
          c. Non-Assignability: Boxbee may assign or delegate these Terms of Service, the Storage Service Agreement, and/or the Boxbee Privacy Policy, in whole or in part, to any person or entity at any time with or without your consent. You may not assign or delegate any rights or obligations under the Terms of Service or Privacy Policy without Boxbee’s prior written consent, and any unauthorized assignment and delegation by you is void.
        </p>
        <p class='p17'>
        d. Section Headings and Summaries Non-Binding: Throughout this Agreement, each section includes titles and brief summaries of the following terms and conditions. These section titles and brief summaries are not legally binding.
        </p>
        <p class='p17'>
          e. Severability: If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement will be construed to reflect the parties’ original intent. The remaining portions will remain in full force and effect. Any failure on the part of Boxbee to enforce any provision of this Agreement will not be considered a waiver of our right to enforce such provision. Our rights under this Agreement will survive any termination of this Agreement.
        </p>
        <p class='p17'>
        f. Complete Agreement: These terms of service, together with the Boxbee Privacy Policy, the Boxbee Storage Service Agreement, and Boxbee’s other terms, conditions, and policies, represent the complete and exclusive statement of the agreement between you and Boxbee. This Agreement supersedes any proposal or prior agreement oral or written, and any other communications between you and Boxbee relating to the subject matter of these terms. This Agreement may only be modified by a written amendment signed by an authorized executive of Boxbee, or by the posting by Boxbee of a revised version.
        </p>

        <p class='p25'>You acknowledge that you have read these Terms of Service, understand the Terms of Service, and will be bound by these terms and conditions.</p>
      </div>
    </div>
</section>
