<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <!-- <div class="centered-div">
      <%#= image_tag 'logo-home.png'%>
    </div> -->
    <h1>We have received your beta program application!</h1>
    <p>
      Thank you for your interest in the Boxbee Beta Program.
    </p>
    <p>
      We are hard at work preparing our new On-Demand Storage platform for its Beta launch.
      Over the next few months, we'll begin a slow and methodical rollout of the Beta program
      and will begin inviting companies like yours to get early access to our software.
    </p>
    <p>
      Thank you for your patience and understanding.
      We're very excited to show what we've been working on here in New York City.
    </p>
    <p>
      We'll be in touch soon. In the mean time please feel free to reach out to us with any
      questions by replying to this email address.
    </p>
    <p>
      Cheers,
    </p>
    <p>
      Kristoph and the Team at Boxbee
    </p>
  </body>
</html>
