<div class="new-company container holder centered-div">
  <div id="thank-you-box" class="centered-div">
    <%= image_tag 'boxbee-icons-05.svg' %>
    <h1 style="margin-bottom:20px;">Thanks!</h1>
    <p>
      Invitations for our beta program go out on a rolling basis.
      We’ll be in touch with updates and your invitation soon.  Thank you.
    </p>
  </div>
</div>
