<!-- how it works section  -->
<section id="how-it-works">
	<div class="container holder">
	  <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
        <h2>We Power On-Demand Storage</h2>
        <p>We pioneered the On-Demand Storage industry with our per-box, per-month service in New York City and San Francisco.  We're expanding globally with our software platform that lets anyone easily operate an On-Demand Storage service at scale.</p>
	    </div>

	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body centered-title" style="padding: 25px 25px 25px 25px;">
							<h4>Boxbee Directory</h4>
								<p>
									As we build a global network of companies that offer On-Demand Storage around the world, we're keeping a directory of our favorites.
								</p>
									<p><%= link_to "View Our Directory", companies_path, class: 'btn-login' %></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body centered-title" style="padding: 25px 25px 25px 25px;">
							<h4>Boxbee Beta</h4>
							<p>Get early access to our software platform that helps anyone provide On-Demand Storage services to their community.</p>
							<p><%= link_to "Join Our Beta", beta_program_path, class: 'btn-login' %></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body" style="padding: 25px 25px 25px 25px;">
							<h4 class="centered-title">Join our fast-growing team:</h4>
							<% get_job_listings.each do |job| %>
								<%= link_to job[0], job[2], target: '_blank' %>
								<p><%= job[1]%><br/></p>
							<% end %>
						</div>
					</div>
				</div>
      </div>
	  </div>
	</div>
</section>
