<!-- how it works section  -->
<section id="how-it-works">
	<div class="container holder">
	  <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box" style="padding-right:30px;">
        <h1>We Power On-Demand Storage</h1><br/>
        <P>On-Demand Storage takes the headache and expense out of traditional Self-Storage by charging only for the storage space you use and by offering you pickup and delivery of your stuff where and when you need it.</P><br/>
				<p>We pioneered the On-Demand Storage industry with our per-box, per-month service in New York City and San Francisco. We're expanding around the world by enabling anyone to operate an On-Demand Storage service in their community.</p><br/>
				<p>Companies that provide On-Demand Storage can use our platform as a turn-key, easy-to-use solution to manage their operations at scale without making expensive, risky software invesments.</p><br/>
				<p>Let us show you the future of On-Demand Storage.</P>
	    </div>

	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body centered-title" style="padding: 25px 25px 25px 25px;">
							<h4>Boxbee Directory</h4>
								<p>
									As we build a global network of On-Demand Storage companies, we're showcasing a few of our favorites.
								</p><br/>
									<p><%= link_to "View Our ODS Directory", companies_path, class: 'btn-login' %></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body centered-title" style="padding: 25px 25px 25px 25px;">
							<h4>Boxbee Beta</h4>
							<p>Gain early access to our software platform that enables anyone to operate an On-Demand Storage service.</p><br/>
							<p><%= link_to "Join Our Beta Program", beta_program_path, class: 'btn-login' %></p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="panel panel-default">
						<div class="panel-body centered-title" style="padding: 25px 25px 25px 25px;">
							<h4>Boxbee Jobs</h4>
							<p>We're always looking for daring, smart and nice people to join our fast-growing team and do big things.</p><br/>
							<p><%= link_to "See Our Job Postings", 'https://boxbee.workable.com/', class: 'btn-login', target: '_blank' %></p>
						</div>
					</div>
				</div>
      </div>
	  </div>
	</div>
</section>
