<!-- how it works section  -->
<section id="how-it-works">
	<div class="container holder">
	  <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box" style="padding: 0px 46px 0px 46px;">
        <h2>We Power On-Demand Storage</h2>
        <p>We pioneered the On-Demand Storage industry in New York City and San Francisco.  Now we're building a network of On-Demand Storage companies all over the world.</p>
	    </div>

	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
					<div class="panel panel-default">
						<div class="panel-body centered-title" style="padding: 0px 30px 30px 30px;">
							<h2>What is On-Demand Storage?</h2>
								<p>
									On-Demand Storage companies pickup, store and deliver your stuff whenever and wherever you want. We're building a global network of these innovative companies.
								</p>
									<p><%= link_to "View Companies", companies_path, class: 'btn-login' %></p>
						</div>
					</div>
      </div>
	  </div>

	  <div class="row">
	    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box">
				<div class="panel panel-default">
					<div class="panel-body centered-title" style="padding: 0px 30px 30px 30px;">
						<h2>Beta Program</h2>
						<p>If you provide On-Demand Storage services to your customers (or want to) and are interested in early access to our On-Demand Storage platform, join the Boxbee Beta program.</p>
						<p><%= link_to "Apply to the Boxbee Beta program", beta_program_path, class: 'btn-login' %></p>
					</div>
				</div>
	    </div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 box" style="padding: 0px 46px 0px 46px;">
				<h2>Job openings</h2>

	    </div>
	  </div>
	</div>
</section>

<div id='existing-users' class='modal fade'>
  <div class='modal-content existing-users-content'>
    <h4>Hi.</h4>
    <p>We are no longer accepting new customers for our On-Demand Storage service.  Current customers can store their boxes with us for as long as they'd like but we won't be taking new boxes into storage.</P>

    <P>Please <A HREF="http://www.boxbee.com/simplestorage">login to your Boxbee account</A> or contact our Customer Service team to schedule an appointment for pickup or delivery.</p>
    <button type="button" class="close-existing-users" data-dismiss="modal"></button>
  </div>
</div>
<script src='https://www.workable.com/assets/embed.js' type='text/javascript'></script>
<script type='text/javascript' charset='utf-8'>
	whr(document).ready(function(){
	whr_embed(8394, {detail: 'titles', base: 'jobs', zoom: 'city', grouping: 'none'});
	});
</script>
