  <div class="centered-title">
    <h3>Sorry, but it appears there are no on demand storage providers in your area yet.</h3>
    <p>
      We've taken note and hope to find a service for you soon.
    </p>
  </div>
