<div class="new-company container holder">

  <div class="centered-form">
    <h2>Edit This Company</h2>
    <h4>This is only accessible to admins.</h4><br/>
    <%= render partial: 'form', locals: {company: @company} %>
  </div>
</div>
