<div class="container holder company-results">
  <div class="row" style="width:100%;">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <h2>Boxbee Directory</h2>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <small><%= link_to 'Submit your company', new_company_path, class:'btn-login' %></small>
    </div>
  </div>
  <h4>Find an On-Demand Storage company near you.</h4><br/>
  <%= render partial: 'company', collection: @companies %>
  <!-- #We can paginate the results here if there are too many.  -->
</div>
