<div class="container holder company-results">
  <div class="row row-eq-height" style="margin:0;">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2>Boxbee Directory</h2>
      <h4>Find an On-Demand Storage company near you.</h4><br/>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="position:relative;">
      <div style="position: absolute; right: 15px; top: 50%; transform: translateY(-50%);">
        <small><%= link_to 'Submit your company', new_company_path, class:'btn-login' %></small>
      </div>
    </div>
  </div>
  <%= render partial: 'company', collection: @companies %>
  <!-- #We can paginate the results here if there are too many.  -->
</div>
