<div class="container holder company-results">
  <h1>Companies offering on demand storage</h1>
  <p>
    Look at all of the on demand storage companies around the world.
  </p>
  <div style="10px 5px 20px 5px"><small><%= link_to 'Submit your company', new_company_path %></small></div><br/>
  <%= render partial: 'company', collection: @companies %>
  <!-- #We can paginate the results here if there are too many.  -->
</div>
