<div class="container holder">
  <p><%= "Results returned for \"#{@city}\": #{@companies.all.count}" %></p>
  <small>Don't see your company here? <%= link_to 'Add your company now', new_company_path %></small>

  <h2>List of companies</h2>
    <%= render partial: 'company', collection: @companies %>
</div>
