<h1>Companies index</h1>
<small>Available to admins only.</small><br/>

<h3>Stats</h3>
<%= "Number of companies: #{@companies_all.all.count}" %>

<h3>List of companies</h3>
<%= render partial: 'company', collection: @companies_all %>
