<div class="container holder">
  <p><%= "Results returned for \"#{@city}\": #{@companies.all.count}" %></p>

  <h2>List of companies</h2>
    <%= render partial: 'company', collection: @companies %>
</div>
