<div class="new-company container holder">

  <div class="centered-form">
    <h1>Submit Your On-Demand Storage Company</h1>
    <p>
      We'll use this information to create your public listing.
    </p>
    <%= render partial: 'form', locals: {company: @company} %>
  </div>
</div>
