<div class="new-company container holder">

  <div class="centered-form">
    <h1>New Company Profile</h1>
    <p>
      The following information will NOT be used to start your public profile so on demand storage consumers can find out about you!
    </p>
    <%= render partial: 'form', locals: {company: @company} %>
  </div>
</div>
