<div class="new-company container holder">

  <div class="centered-form">
    <h2>Submit Your Company</h2>
    <h4>We'll verify this information and create your public listing.</h4><br/>
    <%= render partial: 'form', locals: {company: @company} %>
  </div>
</div>
