<div class="new-company container holder">

  <div class="centered-form">
    <h1>Submit Your Company</h1>
    <p>
      We'll verify this information and then create your public listing.
    </p>
    <%= render partial: 'form', locals: {company: @company} %>
  </div>
</div>
