<h1>Congratulations, you have successfully listed <%="#{@company.name}"%>.</h1>
<p>
  You can access your listing <%= link_to "here.", companies_path(@company) %> You will now appear on listings when customers search for the cities that you're in!
</p>
