<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New claim has been submitted!</h1>
    <p>A user in the Boxbee community has tried to claim his/her company's listing.
      Please confirm the information below and approve.  </p>
    <ul>
      <li>User name: <%= "#{@user.first_name} #{@user.last_name}"%></li>
      <li>Email: <%= "#{@user.email}" %></li>

      <li>Company: <%= "#{@company.name}" %></li>
      <li>URL: <%= "#{@company.website_url}" %></li>
    </ul>
  </body>
</html>
