<div class="container holder">
  <%= render partial: 'post', collection: @posts, locals: {allowed_labels: @allowed_labels} %>
  <div class="centered-div">
    <%= will_paginate @posts %>
  </div>
</div>
