/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-tagsinput
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/* general styles */
 .body-container {
   padding-top: 90px;
 }
 .centered-title {
   text-align:center !important;
 }

// Fonts

@font-face {
  font-family: "proxima-nova-regular";
  src: url(font-path("ProximaNova-Regular.otf"));
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima-nova-semibold";
  src: url(font-path("ProximaNova-Semibold.otf"));
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kozuka-gothic-pr6n-regular";
  src: url(font-path("KozGoPr6N-Regular.otf"));
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hind-Medium";
  src: url(font-path("Hind-Medium.ttf"));
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hind-Light";
  src: url(font-path("Hind-Light.ttf"));
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url(font-path("OpenSans-Regular.ttf"));
  font-weight: normal;
  font-style: normal;
}


//Forms
.centered-form {
  max-width: 750px;
  margin-left:auto;
  margin-right:auto;
  display:block;
  margin-bottom:30px;
}

.centered-button {
  margin-left:auto;
  margin-right:auto;
  display:block;
  text-align:center;
}
.centered-button a {
  float:none;
}
//Buttons
.btn-cta {
  background-color: #009887;
  color: white !important;
  border: none;
  font-size: 18px;
  padding: 10px 30px 10px 30px;
  margin-top: 30px;
  border-radius:5px;
}

.btn-cta-inverted {
  color: white !important;
  border: 2px solid white;
  padding: 10px;
  border-radius:5px;
}

.btn-submit {
  background-color: #009887;
  color: white;
  border-radius:5px;
  width:100px;
}
//Flashes
.flashes {
  margin-top: 60px;
}

.logout {
  float: right;
  position: relative;
  top: 7px;
  margin: 0px 10px 0px 10px;
}
//Rows
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

h1 {
  font-family: 'Hind-Light';
  font-size:35px;
  color:#ffffff;
  line-height:30px;
}

p {
  font-family:'OpenSans';
  font-size:18px;
  color:#000000;
  line-height:25px;
}

a:visited {
    color: white;
}

// h1, h2, h3, h4 {
//   font-family: 'proxima-nova-semibold';
// }
//
// h1 {
//   font-size: 36px;
// }
//
// h2 {
//   font-size: 28px;
// }
//
// h4 {
//   font-size: 20px;
// }
//
// p {
//   font-family: 'proxima-nova-regular';
// }

//Navbar
.main-nav {
  float: right;
  margin: 10px;
  color: #009887;
}
