// Place all the styles related to the Companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#companies {
  text-align:center;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.company-result {
  height: 500px;
}

.company-logo {
  height: 60px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

// .panel-body .company {
//   width:100%;
// }

.centered {
  text-align: center !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  display: block;
}

.btn-company_url {
  float: none !important;
  margin: 10px 5px
}

.company p {
  text-align:center;
  font-size: 14px;
}

.company {
  position: relative;
  height: 100%;
}

.company .bottom-placeholder {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-left:-15px;
  margin-bottom:15px;
}

.panel-body .company {
  height: 100% !important;
}

.company h1, h2, h3, h4 {
  font-family: 'adelle-sans-light' !important;
}

.company-results h1, h2, h3, h4 {
  font-family: 'adelle-sans-light' !important;
}

//form
.bootstrap-tagsinput {
  width: 100% !important;
}

#multiple-cities-container {
  display:none;
}

#multiple-cities-container, #serve-multiple-cities {
  width: 50%;
  max-height: 300px;
}

.countdown {
  float:right;
}
