// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#companies-search {
  text-align:center !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
