// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#companies-search {
  text-align:center !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.holder {
  padding-top: 129px;
}
//Workable
#whr_embed_hook {
  text-align: center;
}
.whr-items {
  list-style-type: none;
  text-align: center;
  padding-left:0;
}

.whr-info {
  list-style-type: none;
  text-align:center;
  padding-left:0;
  font-family: 'adelle-sans-light'
}

.whr-title a {
  color: #669966;
  font-family: 'adelle-sans-regular';
  text-transform: none;
}

.whr-title h1, h2, h3, h4 {
  font: 24px/28px "varela_roundregular", Arial, sans-serif;
}

#job-openings {
  font-family: 'adelle-sans-light' !important;
  text-align: center;
}

// .whr-info
// .whr-dept
// .whr-location
// .whr-date
