// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#companies-search {
  text-align:center !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.holder {
  padding-top: 129px;
}

.top-fold-image {
  background-image: url(image_path('warehouse-boxbee.jpg'));
  background-position: center;
  height: 500px;
}

.title-header {
  padding: 0px 30px 0px 30px;
  color: white;
  text-shadow: 0 1px 0 black;
  margin-top:0px;
  text-align:center;
}

#detail-section {
  padding: 30px 50px 30px 50px;
}

.main-icon {
  font-size:40px;
  color: gray;
}

#detail-section h4 {
  color: #009887;
}

#detail-section p {
  text-align:center;
}

#bottom-cta-section {
  background-color: #009887;
  color:white;
  text-align:center !important;
  font-family:'adelle-sans-regular';
  padding: 40px 50px;
}

#bottom-cta-section p {
  color: white;
  text-align:center;
  font-size: 18px;
}

#bottom-cta-section h4 {
  color: #333333;
  font-size: 20px;

}


.btn-cta-secondary {
  background-color: white;
  color: #009887;
  border: none;
  font-size: 18px;
  padding: 10px 30px 10px 30px;
  border-radius:5px;
}
