/* Workable restyling*/


.whr-toggle {
font-size:24px;
}

.whr-info ul{
  padding-top: 0px;
  display:none;
}

.whr-title a{
  font-size:20px;
}

.whr-location {
  font-size:16px;
  /*height: 18px;*/
}


.whr-date {
  font-size:0;
  height: 0px;
  display:none;
}

/*Rest of CSS:*/

/*
  * set default text color
  * set default font size, line height and font family
  * set default background
 */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-i_03:before {
  content: "\e600";
}

.icon-i_04:before {
  content: "\e601";
}

.icon-i_05:before {
  content: "\e602";
}

.icon-icon_1:before {
  content: "\e603";
}

.icon-icon_2:before {
  content: "\e604";
}

.icon-icon_3:before {
  content: "\e605";
}

.icon-icon_4:before {
  content: "\e606";
}

.icon-icon_5:before {
  content: "\e607";
}

.icon-icon_6:before {
  content: "\e608";
}

.icon-icon_7:before {
  content: "\e609";
}

.icon-svg_05:before {
  content: "\e60a";
}

.icon-svg_06:before {
  content: "\e60b";
}

.icon-svg_07:before {
  content: "\e60c";
}

.icon-svg_08:before {
  content: "\e60d";
}

.icon-svg_09:before {
  content: "\e60e";
}

.icon-svg_10:before {
  content: "\e60f";
}

.icon-svg_11:before {
  content: "\e610";
}

.icon-svg_12:before {
  content: "\e611";
}

.icon-svg_01:before {
  content: "\e612";
}

.icon-backroundcheckeddrivers:before {
  content: "\e613";
}

.icon-logo_icononly:before {
  content: "\e614";
}

.icon-shoe:before {
  content: "\e615";
}

.icon-stars:before {
  content: "\e616";
}

.icon-tshirt:before {
  content: "\e617";
}

* {
  max-height: 100000px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 320px;
  line-height: 25px;
}
@media (max-width: 639px) {
  body {
    font-size: 14px;
    line-height: 20px;
  }
}

input[type=text], input[type=password],
input[type=file], input[type=submit], textarea {
  box-shadow: none;
  -webkit-appearance: none;
}

.form-control {
  height: 36px;
  padding: 6px;
  border-radius: 0;
}
@media (max-width: 639px) {
  .form-control {
    height: 30px;
    font-size: 15px;
    padding: 4px 6px;
    line-height: 22px;
  }
}
o
.none {
  display: none;
}

a:hover,
a:focus,
a:active {
  outline: none;
  text-decoration: none;
}

.btn {
  border: 0;
  padding: 6px 26px;
  border-radius: 30px;
  white-space: inherit;
}
@media (max-width: 639px) {
  .btn {
    font-size: 14px;
    line-height: 20px;
  }
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn.focus:active,
.btn.active:focus,
.btn.active.focus {
  outline: none;
  outline-offset: inherit;
}

.btn-default {
  letter-spacing: 0.2px;
  border: 1px solid #bcb9ba;
  font: 20px/24px "varela_roundregular", Arial, sans-serif;
  background: rgba(35, 31, 32, 0.37);
}
@media (max-width: 767px) {
  .btn-default {
    font-size: 16px;
    line-height: 20px;
  }
}
.btn-default:hover, .btn-default:active, .btn-default:focus {
  background: #231f20;
}

.btn-warning {
  padding: 21px 43px;
  background: #face09;
  border-radius: 40px;
  font: 25px/28px "varela_roundregular", Arial, sans-serif;
}
@media (max-width: 767px) {
  .btn-warning {
    padding: 8px 30px;
    font-size: 20px;
    line-height: 24px;
  }
}
.btn-warning:hover {
  background: #fce684;
}

h2 {
  color: #666666 ;
  margin: 0 0 17px;
  text-align: left;
  font-family: 'adelle-sans-light' !important;
  font-size: 37px;
  line-height: 57px !important;
}
@media (max-width: 767px) {
  h2 {
    font-size: 26px;
    margin: 0 0 10px;
    line-height: 30px;
  }
}

p {
  color: #666666;
  margin: 0 0 17px;
  text-align: left;
  font-family: 'adelle-sans-light';
  font-size: 20px;

}
h3 {
  margin: 0;
  color: #4d4d4d;
  text-transform: uppercase;
  font: 24px/28px "varela_roundregular", Arial, sans-serif;
}
@media (max-width: 767px) {
  h3 {
    font-size: 20px;
    line-height: 24px;
  }
}


/* main container styles */
#wrapper {
  width: 100%;
  height: 100%;
  display: table;
  margin: 0 auto;
  background: white;
  table-layout: fixed;
}

.overlay {
  z-index: 12;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
}

body.active .logo {
  display: none;
}
body.active .overlay {
  visibility: visible;
}
body.active #header {
  border: transparent;
  background: none;
}
body.active #header .navbar {
  left: 0;
  transition: left 0.2s linear 0s;
  -moz-transition: left 0.2s linear 0s;
  -webkit-transition: left 0.2s linear 0s;
}

.nav-opener {
  top: 28px;
  left: 20px;
  z-index: 11;
  width: 30px;
  display: none;
  position: absolute;
}
@media (max-width: 1019px) {
  .nav-opener {
    display: block;
  }
}
@media (max-width: 639px) {
  .nav-opener {
    left: 10px;
  }
}
.nav-opener span {
  height: 2px;
  display: block;
  margin-bottom: 4px;
  border-radius: 5px;
  background: #939598;
}

/* header styles */
#header {
  z-index: 12;
  position: relative;
  background: white;
  min-height: 65px;
  width: 100%;
  box-shadow: 0 2px 3px #cccccc;
  top: 0;
  bottom: auto;
  position: fixed;
  /* navigation styles */
}

#header .header-content {
  max-width: 952px;
  padding: 12px 10px;
  margin-left: auto;
  margin-right: auto;
}
#header .holder {
  padding-top: 35px;
  padding-bottom: 23px;
}

.btn-login {
  float: right;
  color: #669966;
  margin: 2px 0 0;
  background: white;
  padding: 5px 18px 3px;
  font-family: "adelle-sans-regular";
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid;
}
#header .btn-login {
  float: right;
}
#header .btn-login:hover {
  color: #66cc66;
}

/* page logo styles */
.logo {
  float: left;
  widkth: 183px;
  height: 43px;
}
.logo img {
  display: block;
  width: 100%;
  height: auto;
}
.logo a {
  height: 100%;
  display: block;
}



/* home page styles */
.home {
  /* intro section styles */
}
.home .intro {
  width: 100%;
  display: table;
  position: relative;
  -webkit-box-shadow: inset 0 -3px 8px 0 rgba(84, 84, 84, 0.2);
  box-shadow: inset 0 -3px 8px 0 rgba(84, 84, 84, 0.2);
}
.home .intro .btn-chat {
  bottom: 0;
  right: 22px;
  width: 246px;
  height: 29px;
  color: white;
  text-align: left;
  line-height: 29px;
  position: absolute;
  border-radius: 4px 4px 0 0;
}
@media (max-width: 767px) {
  .home .intro .btn-chat {
    display: none;
  }
}
home .intro .btn-chat:hover {
  background: #face09;
}
.home .intro .btn-chat:after {
  top: 9px;
  right: 11px;
  content: "\e602";
  position: absolute;
  font: 6px/10px 'icomoon';
}
.home .intro .btn-chat a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 0 48px 0 8px;
}
.home .intro .btn-warning {
  margin: 0 0 45px;
}
@media (max-width: 1020px) {
  .home .intro .btn-warning {
    margin: 0 0 30px;
  }
}
.home .intro .arrow-down {
  left: 50%;
  bottom: 24px;
  color: #939598;
  font-size: 11px;
  line-height: 13px;
  margin-left: -7px;
  position: absolute;
}
@media (max-width: 1020px) {
  .home .intro .arrow-down {
    bottom: 14px;
    margin-left: -9px;
  }
}
.home .intro .arrow-down:hover {
  color: #face09;
}
.home .intro .intro-holder {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.home .intro .holder {
  padding: 100px 0 80px;
}
@media (max-width: 1020px) {
  .home .intro .holder {
    padding: 114px 0 80px;
  }
}
@media (max-width: 1019px) {
  .home .intro .holder {
    padding: 90px 0;
  }
}
.home .intro header {
  margin: 0 0 20px;
  overflow: hidden;
  min-height: 217px;
}
@media (max-width: 1920px) {
  .home .intro header {
    margin: 0 0 28px;
    min-height: inherit;
  }
}
.home .intro h1 {
  margin: 0 0 19px;
  font: 36px/40px "varela_roundregular", Arial, sans-serif;
}
@media (max-width: 1020px) {
  .home .intro h1 {
    max-width: 447px;
    line-height: 48px;
    margin: 0 auto 15px;
  }
}
@media (max-width: 1019px) {
  .home .intro h1 {
    font-size: 22px;
    line-height: 30px;
    max-width: inherit;
  }
}
.home .intro .cities {
  color: #404041;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
  font: 18px/22px "varela_roundregular", Arial, sans-serif;
}
@media (max-width: 767px) {
  .home .intro .cities {
    font-size: 14px;
    line-height: 22px;
  }
}
.home .intro .cities li {
  padding: 0 0.9%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 1020px) {
  .home .intro .cities li {
    padding: 0 1.1%;
  }
}
@media (max-width: 1019px) {
  .home .intro .cities li {
    padding: 0 3%;
  }
}
.home .intro .cities li:first-child:after {
  display: none;
}
.home .intro .cities li:after {
  top: 7px;
  left: -5px;
  width: 5px;
  content: '';
  height: 5px;
  border-radius: 10px;
  position: absolute;
  background: #404041;
}
.home .intro .img-holder {
  overflow: hidden;
  padding: 0 9.1% 44px;
}
@media (max-width: 1920px) {
  .home .intro .img-holder {
    padding: 0;
    max-width: 600px;
    margin: 0 auto 30px;
  }
}
@media (max-width: 1260px) {
  .home .intro .img-holder {
    padding: 0;
    max-width: 500px;
    margin: 0 auto 30px;
  }
}
@media (max-width: 1020px) {
  .home .intro .img-holder {
    max-width: 408px;
    margin: 0 auto 13px;
  }
}
.home .intro .img-holder img {
  display: block;
  width: 100%;
  height: auto;
}
.home .intro .btn-primary {
  padding: 10px 22px 10px 46px;
}
.home .intro .btn-primary:after {
  top: 10px;
  left: 18px;
  content: "\e601";
  position: absolute;
  font: 15px/16px 'icomoon';
}

#how-it-works {
  overflow: hidden;
  color: #333333;
  text-align: center;
  font: 18px/31px "latoregular", Arial, sans-serif;
  /* quotes block styles */
}
#how-it-works .holder {
  padding-top: 129px;
  padding-bottom: 112px;
}
@media (max-width: 1020px) {
  #how-it-works .holder {
    padding-top: 130px;
  }
}
@media (max-width: 1019px) {
  #how-it-works .holder {
    padding-top: 90px;
    padding-bottom: 0;
  }
}
@media (max-width: 1019px) {
  #how-it-works .box {
    margin: 0 0 20px;
  }
}
#how-it-works .img-holder {
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto 52px;
}
#how-it-works .form-holder {
  overflow: hidden;
  max-width: 300px;
  margin: 0 auto 52px;
}
@media (max-width: 1020px) {
  #how-it-works .img-holder {
    margin: 0 -5px 53px;
  }
}
@media (max-width: 1020px) {
  #how-it-works .form-holder {
    margin: 0 -5px 53px;
    max-width: 300px;
  }
}
@media (max-width: 1019px) {
  #how-it-works .img-holder {
    max-width: 180px;
    margin: 0 auto 20px;
  }
}
#how-it-works .img-holder img {
  display: block;
  width: 100%;
  height: auto;
}
#how-it-works .quotes-block {
  overflow: hidden;
  color: #333333;
  text-align: center;
  position: relative;
  background: white;
  font: 18px/31px "latoregular", Arial, sans-serif;
}
#how-it-works .quotes-block:before {
  width: 100%;
  content: '';
  height: 100%;
  top: 0;
  right: -500px;
  bottom: auto;
  left: 0;
  position: absolute;
  -webkit-box-shadow: inset 0 3px 8px 0 rgba(84, 84, 84, 0.2);
  box-shadow: inset 0 3px 8px 0 rgba(84, 84, 84, 0.2);
}
#how-it-works .quotes-block:after {
  content: '';
  top: 0;
  right: -500px;
  bottom: 0;
  left: 0;
  position: absolute;
  -webkit-box-shadow: inset 0 -3px 8px 0 rgba(84, 84, 84, 0.2);
  box-shadow: inset 0 -3px 8px 0 rgba(84, 84, 84, 0.2);
}
@media (max-width: 1019px) {
  #how-it-works .quotes-block {
    font-size: 16px;
    line-height: 26px;
  }
}
#how-it-works .quotes-block .holder {
  padding-top: 92px;
  padding-bottom: 86px;
}
@media (max-width: 1020px) {
  #how-it-works .quotes-block .holder {
    padding-bottom: 54px;
  }
}
@media (max-width: 1019px) {
  #how-it-works .quotes-block .holder {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767px) {
  #how-it-works .quotes-block .column {
    margin: 0 0 30px;
  }
}
#how-it-works .quotes-block a {
  color: #333333;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10; /* Places the link above everything else in the div */
}

#how-it-works .quotes-block a:hover {
  color: #face09;
}

#how-it-works .quotes-block blockquote {
  border: 0;
  padding: 0;
  quotes: none;
  margin: 0 -5px;
  color: #333333;
  letter-spacing: 0.2px;
}
@media (max-width: 767px) {
  #how-it-works .quotes-block blockquote {
    font-size: 16px;
    line-height: 24px;
  }
}
#how-it-works .quotes-block blockquote q {
  display: block;
  margin: 0 0 5px;
}
@media (max-width: 1019px) {
  #how-it-works .quotes-block blockquote q br {
    display: none;
  }
}
#how-it-works .quotes-block blockquote cite {
  font-style: normal;
}
#how-it-works .quotes-block blockquote .icon-stars {
  margin: 0 5px;
  color: #face09;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 2px;
  display: inline-block;
  vertical-align: middle;
}
#how-it-works .quotes-block blockquote .icon-svg_06 {
  color: #c93c27;
  font-size: 20px;
  line-height: 22px;
  display: inline-block;
  vertical-align: middle;
}


/*Press links on homepage*/
#how-it-works .press-block{
background:#f5f4f0;
}

#press-block .img{
width:20px;
}

/* gfy video sizing*/

.media-flex {
    position: relative;
    height: 0px;
}

.media-flex .gfyitem > div,
.media-flex .gfyitem .gfyPreLoadCanvas,
.media-flex .gfyitem .gfyVid,
.media-flex .gfyitem  .gfyGif {
    position: absolute !important;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100% !important;
    height: 100% !important;
}

  .modal-backdrop.in {
    opacity: 0.69;
    background-color: #CCCCCC;
  }

#existing-users {
  height: 100%;
}

.existing-users-content {
  background-color: white;
  width: 300px;
  padding: 20px;
  border-radius: 0;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 650px) {
  .existing-users-content {
    top: 50%;
    transform: translateY(-50%);
    width: 650px;
    padding: 65px;
  }
}

.existing-users-content a {
  font-size: 20px;
}

.close-existing-users {
  position: absolute;
  right: 25px;
  top: 25px;
  background: white url(font-path("../images/Boxbee-10.svg")) no-repeat;
  height: 14px;
  width: 14px;
  border: none;
}

.close-existing-users:active {
  background: white url(font-path("../images/Boxbee-09.svg")) no-repeat;
  outline: none;
}

.box {
  max-width: 700px;
}

.row {
  display: inline-block;
}

a {
  font-family: "adelle-sans-regular";
  color: #669966;
  /*font-size: 14px;*/
}

a:visited {
  font-family: "adelle-sans-regular";
  color: #669966;
}

a:hover {
  color: #66cc66 !important;
}

#investors {
  width: 100%;
  background-color: #f7fbfb;
}

#investor .container {

}
#investors .row {
  margin-left: auto;
  margin-right: auto;
  max-width: 952px;
  display: block;
}

#investors .box {
  min-height: 50px;
  min-width: 175px;
  position: relative;
  bottom: 15px;
}

#investors img {
  position: absolute;
  bottom: 0px;
}

#investors img.floodgate {
  left: 25px;
  bottom: 12px;
}

#investors img.lucas {
  bottom: -7px;
}

#investors img.google {
  bottom: 1px;
}

#investors p {
  color: #999999;
  font-family: 'adelle-sans-regular';
  font-size: 15px;
  padding: 10px 0 0 10px;
}

#footer {
  background-color: #e7e9d9;
  padding-bottom:30px;
}

#footer p, #footer a {
  font-family: 'adelle-sans-light';
  color: #666666;
  font-size: 15px;
}

#footer .row {
  margin-left: auto;
  margin-right: auto;
  max-width: 952px;
  display: block;
}

#footer h2 {
  font-family: 'adelle-sans-regular';
  color: #666666;
  font-size: 20px;
  margin: 0;
}

/* fix bug caused by bootstrap modal where
   header shifts to the left 15px when the modal opens.
   This happens because when the modal is open the scroll bar disappears.
   Remove this to reproduce.
 */
body.modal-open #header {
  padding-right: 15px;
}
