// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.redactor_editor {
  height: 300px;
}

.blog-title {
  color: #009182;
  font-size: 36px;
}
