<div class="footer">
	<div class="row" style="padding-top:20px;">
		<div class="centered-div" style="color:gray;">
			<small>
				&copy; <%="#{DateTime.now.strftime('%Y')}"%> Boxbee, Inc. |
				<%= link_to 'Careers', 'https://boxbee.workable.com/' %> |
				<%= link_to 'Terms of Service', 'https://boxbee.com/terms'%>
			</small>
		</div>
	</div>
</div>
