<header id="header">
  <div class="header-content">
    <strong class="logo">
      <%= link_to image_tag("logo-home.png"), root_path %>
    </strong>
      <%= link_to "Current Customers", current_customers_path, class: "btn-login" %>
  </div>
</header>
