<header id="header">
  <div class="header-content">
    <strong class="logo">
      <%= image_tag("logo-home.png") %>
    </strong>
    <%= link_to "Are you a storage company?", root_path, class: "btn-amber" %> 
    <%= link_to "Legacy customers", root_path, class: "btn-login" %>
  </div>
</header>
