<div id='existing-users' class='modal fade'>
  <div class='modal-content existing-users-content'>
    <h4>Hi.</h4>
    <p>We are no longer accepting new customers for our On-Demand Storage service.  Current customers can store their boxes with us for as long as they'd like but we won't be taking new boxes into storage.</P>

    <P>Please <A HREF="http://www.boxbee.com/simplestorage">login to your Boxbee account</A> or contact our Customer Service team to schedule an appointment for pickup or delivery.</p>
		<%= link_to image_tag("Boxbee-10.svg"), 'javascript:void(0)', class: 'close-existing-users', "data-dismiss" => "modal" %>
    <!-- <button type="button" class="close-existing-users" data-dismiss="modal"></button> -->
  </div>
</div>
